@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Roboto+Condensed');
.container{
    padding: 50px;
}
.header-text {
    margin-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 700;
  }
.table-container{
    margin: 15px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 14px rgba(0,0,0,0.1);
}

.ant-table-thead > tr{
    background: #ffffff !important;
}