.monitoring-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.monitoring-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
  width: 95%;
}