.no-padding {
  padding: 2px !important;
}

.text-area {
  border-radius: 0px !important;
  border: none !important;
}

.container {
  background-color: #f9f9fb;
  min-height: calc(100vh - 39px);
  margin-left: 60px;
  padding: 15px 30px;
}

.answer-header {
  display: flex;
  margin: 0 20px;
  border-bottom: 2px solid #ececf0;
  justify-content: space-between;
}

.answer-menu {
  display: flex;
}

.answer-menu-item {
  display: flex;
  font-size: 18px;
  padding: 20px 0 17px 0;
  margin-right: 20px;
  margin-bottom: -2px;
  color: #93a3b8;
  font-weight: 500;
  cursor: pointer;
}

.answer-menu-item-active {
  border-bottom: 2px solid #3167ff;
  color: #363f56;
}

.answer-table-container {
  padding: 30px 20px;
}

.table-spinner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9fbad;
  height: 100vh;
  width: 100%;
}

.loading {
  overflow: hidden;
  height: calc(100vh - 60px);
  margin-right: 15px;
}

.table-title-row {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.answer-title-row {
  margin: 0 320px 0 265px;
}

.history-title-row {
  margin: 0 130px 0 45px;
}

.table-title-content {
  width: 100%;
}

.hint-icon {
  margin: 0 5px !important;
}

.table-row {
  display: flex;
  align-items: center;
  /* background-color: #fff; */
  font-size: 16px;
  /* padding: 20px; */
  /* margin-bottom: 10px; */
}

.table-number {
  margin-right: 10px;
}

.table-content {
  width: 100%;
  padding: 15px 20px;
  margin: 0 10px;
}

.table-intent {
  color: rgb(30, 75, 202);
  width: 500px;
  font-weight: 500;
  padding: 15px 20px;
  margin: 0 10px;
}

.table-action {

}

.table-dropdown {
  border: 2px solid #cbd0d7 !important;
  border-radius: 20px !important;
}

.table-button {
  min-width: 82px;
  border: 2px solid #cbd0d7;
  color: #cbd0d7;
  text-transform: uppercase;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 21px;
  text-decoration: none;
  margin: 0 10px;
}

.table-button:hover {
  background-color: #cbd0d7;
  color: #fff;
}

.table-button:active {
	position: relative;
	top: 1px;
}

.save-button {
  background-color: #5385fe;
  border-color: #5385fe;
  color: #fff;
}

.save-button:hover {
  background-color: #3167ff;
  border-color: #3167ff;
}

.blue-button {
  border: 2px solid #5385fe;
  color: #5385fe;
}

.blue-button:hover {
  background-color: #5385fe;
  color: #fff;
}

.no-button {
  width: 100px;
  height: 39px;
  margin: 0 20px;
}

.table-textarea {
  border: 1px dotted blue;
  padding: 15px 20px;
  width: 100% !important;
  outline: none;
  margin: 0 10px;
  resize: none !important;
}

.notification-success {
    background-color: #fff !important;
    color: rgb(67, 126, 38) !important;
    margin: 10px;
}

.notification-error {
    background-color: #fff !important;
    color: rgb(126, 38, 38) !important;
    margin: 10px;
}

.audio-icon {
  color: #3167ff;
  margin: 10px 20px !important;
}
