.container {
  background-color: #f9f9fb;
  min-height: calc(100vh - 39px);
  margin-left: 60px;
  padding: 15px 30px;
}

.answer-header {
  display: flex;
  margin: 0 20px;
  height: 50px;
  border-bottom: 2px solid #ececf0;
  justify-content: space-between;
}

.answer-menu {
  display: flex;
}

.answer-menu-item {
  display: flex;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: -2px;
  color: #93a3b8;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 0 0 0;
}

.answer-menu-item-active {
  border-bottom: 2px solid #436dd2;
  color: #363f56;
}
.element-mb {
  margin-bottom: 9px;
}
