.status-card {
  background-color: #fff;
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 300px;
  height: 168px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.status-card-description {
  display: flex;
  flex-direction: column;
}

.status-card-title {
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.2;
  margin-bottom: 5px;
}
.status-card-update-status {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
}
.status-card-actions {
  display: flex;
  flex-direction: column;
}
.status-card-tag {
  align-self: flex-start;
  padding: 2px 21px;
  margin: 15px 0 5px;
  margin-right: 7px;
  height: 27px;
  font-size: 1em;
  line-height: 20px;
  border: 1px solid;
  border-radius: 4px;
  outline: none;
}

.status-card-refresh-button {
  height: 27px;
  font-size: 1em !important;
  margin: 10px 0 !important;
  padding: 0 21px !important;
}

.status-enabled {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.status-disabled {
  color: #f5222d;
  background: #fff1f0;
  border-color: #ffa39e;
}

.status-updating {
  color: #faad14;
  background: #fffbe6;
  border-color: #ffe58f;
}
