.users-table-row {
  display: flex;
  align-items: center;
  /* background-color: #fff; */
  font-size: 16px;
  /* padding: 20px; */
  /* margin-bottom: 10px; */
}

.link {
  color: rgb(0, 193, 255);;
}

.users-table-number {
  margin-right: 10px;
}

.users-table-content {
  width: 100%;
  padding: 15px 20px;
  margin: 0 10px;
}

.users-table-actions {
  display: flex;
}

.users-table-action {
  min-width: 120px;
}

.users-table-button {
  min-width: 82px;
  border: 2px solid #cbd0d7;
  color: #cbd0d7;
  text-transform: uppercase;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 21px;
  text-decoration: none;
  margin: 0 10px;
}

.users-table-button:hover {
  background-color: #cbd0d7;
  color: #fff;
}

.users-table-button:active {
	position: relative;
	top: 1px;
}

.users-table-row-wrapper {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: #fff;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 10px;
}
