.modal-wrapper {
  padding: 20px;
}
.modal-header {
  font-size: 20px;
  margin: 10px;
  color: #363f56;
  font-weight: 500;
}

.modal-description-name {
  color: #436dd2;
  padding: 15px 10px;
  font-size: 18px;
}

.modal-description {
  padding: 0 10px 15px 10px;
  color: rgba(0,0,0,.4);
}

.modal-formfield-title {
  padding: 20px 0px 5px;
  font-size: 14px;
}
.key-title {
  margin-top: 7px;
}

.modal-formfield {
  padding: 0 10px;
}

.modal-field {
  width: 100%;
}

.modal-actions {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
}


.modal-keys-formfield {
  display: flex;
  max-height: 90px;
  overflow: auto;
  flex-wrap: wrap;
}

.modal-formfield-textarea {
  height: 80px !important;
  line-height: 1.21428571em;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0.67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  outline: none;
  resize: vertical;
}

.modal-formfield-textarea:focus {
  border-color: #85b7d9;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
}

.modal-formfield-textarea::placeholder {
  color: #cfcfcf;
}
.unsupported-tts-label{
  margin-right: 5px;
}

i {
  cursor: pointer;
}
