
.environment-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.environment-header {
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: -2px;
    font-weight: 500;
    min-height: 38px;
    border-bottom: 2px solid #436dd2;
    color: #363f56;
    width: 220px;
  }