.tag {
  color: #1890ff;
  background: #e6f7ff;
  padding: 0 20px 0 7px;
  margin-bottom: 8px;
  margin-right: 8px; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  font-size: 12px;
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;
  border: 1px solid #91d5ff;;
  border-radius: 4px;
  outline: none;
}

.span-tag{
  margin-right: 14px;
}

.error-label {
  font-size: 12px;
  opacity: .85;
  color: #f5222d;
}