.statistics-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.statistics-card {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  width: 100%;
  height: 330px; 
  font-size: 15px;
  color: #000000;
  box-shadow: 0px 0px 20px 0px #c4c7ca42;
}

.statistics-card-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.85);
}

.statistics-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 97%;
}

.statistics-card-content {
  display: flex;
  width: 100%;
}

.statistics-card-content-table {
  width: 30%;
}

.statistics-card-content-diagram {
  width: 70%;
}

.statistics-table-first-column-cell {
  text-align: center;
}

.statistics-table-second-column-cell {
  text-align: center;
}

.statistics-table-row {
  height: 63.75px;
}

.statistics-icon {
  cursor: default;
}

.statistics-header {
  display: flex;
  margin: 0 20px;
  height: 50px;
  border-bottom: 2px solid #ececf0;
  justify-content: space-between;
  width: 100%;
}

.statistics-menu {
  display: flex;
}

.statistics-menu-item {
  display: flex;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: -2px;
  color: #93a3b8;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 0 0 0;
}

.statistics-menu-item-active {
  border-bottom: 2px solid #436dd2;
  color: #363f56;
}
.element-mb {
  margin-bottom: 8px;
}
