.header-wrapper {
  display: flex;
  justify-content: flex-end;
  color: #8FA3BE;
  font-size: 16px;
  padding: 10px 10px 5px 80px;
  background-color: #f9f9fb;
}

.header-icon {
  margin: 0 10px !important;
}