.monitoring-container {
  width: 100%;
  min-height: calc(100vh - 39px);
  background-color: #f9f9fb;
  margin-left: 60px;
  padding: 15px 30px;
}

.monitoring-title {
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: -2px;
  font-weight: 500;
  min-height: 38px;
  border-bottom: 2px solid #436dd2;
  color: #363f56;
  width: 105px;
}

.monitoring-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
