.users-container {
  background-color: #f9f9fb;
  min-height: calc(100vh - 39px);
  margin-left: 60px;
}

.users-header {
  display: flex;
  margin: 0 30px;
  border-bottom: 2px solid #ececf0;
  justify-content: space-between;
}

.users-menu {
  display: flex;
}

.users-menu-item {
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: -2px;
  color: #93a3b8;
  font-weight: 500;
  cursor: pointer;
}

.users-menu-item-active {
  border-bottom: 2px solid #436dd2;
  color: #363f56;
}
.element-mb-filter {
  margin-top: -9px;
  margin-bottom: 7px;
}
