.personal-data {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.new-user-modal-header {
  font-size: 18px;
  color: #363f56;
  font-weight: 500;
  margin-bottom: 20px;
}
.input-section {
  margin: 5px;
  min-width: 180px;
}
.new-user-section {
  margin: 5px;
  margin-bottom: 30px;
}

.input-title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 7px;
}

.new-user-modal-actions {
  display: flex;
  justify-content: flex-end;
}

.message-to-user {
  padding: 10px;
  color: #2185d0;
  background: #f0f5ff;
  border: 1px solid #adc6ff;
  border-radius: 4px;
}
