.table-row-wrapper {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: #fff;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 10px;
}

.key-words-title {
  font-size: 14px;
  color: #a3a3a3;
  cursor: pointer;
  padding: 5px;
}

.key-words {
  display: flex;
  flex-wrap: wrap;
}

.key-word {
  font-size: 14px;
  padding: 3px;
  margin: 4px 5px;
  background-color: #ceebff52;
  border-radius: 5px;
  color: #1e4aca;
  border: 1px solid #85b7d9;
}
