.table-actions {
  display: flex;
  justify-content: space-between;
}

.table-action {
  min-width: 120px;
}

.card-button {
  min-width: 82px;
  border: 2px solid #cbd0d7;
  color: #cbd0d7;
  text-transform: uppercase;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 21px;
  text-decoration: none;
  margin: 0 10px;
}

.card-button:hover {
  background-color: #cbd0d7;
  color: #fff;
}

.card-button:active {
  position: relative;
  top: 1px;
}

.audio-icon {
  color: #3167ff;
  margin: 10px !important;
}

.table-raw-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 14px;
  padding: 20px;
  width: 300px;
  margin: 10px 20px 10px 0px;
}

.key-words-container {
  margin-bottom: 20px;
}

.key-words-title {
  font-size: 14px;
  color: #a3a3a3;
  cursor: pointer;
}

.key-words {
  display: flex;
  flex-wrap: wrap;
}

.key-word {
  color: #1890ff;
  max-width: 285px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #e6f7ff;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0px 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  border: 1px solid #91d5ff;
  border-radius: 4px;
}

.descritpion {
  color: #314659;
  font-size: 12px;
  line-height: 2;
}

.title {
  font-size: 16px;
  line-height: 32px;
  color: #3167ff;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}
